.main {
    width: 100%;
    /* height: 250px; */
    padding: 10px 15px 5px 15px;
    border-radius: 8px;
    background-color: #eee1f0;
    position: relative;
  }
  .actionBar{
    background-color: #961A88;
    width: 100%;
    position: absolute;
    height: 60px;
    top:122px;
    left: 0px;
    padding: 10px 15px 5px 15px;
    color: white;
  }
