.main {
  width: 100%;
  padding: 10px 15px 5px 15px;
  border-radius: 8px;
  background-color: #EAF9F7;
  position: relative;
}
.actionBar{
    background-color: #00AEB1;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 120px;
    padding: 10px 15px 5px 15px;
    position: absolute;
    color: white;
  }

